@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

:root {
    --cor-fundo: #1d3927;
    --cor-itens: #a58630;
    --cor-itens-secundaria: #80651d;
    --cor-background-2: #efd1a5;
    --cor-background: #7a5213;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: auto;
    scrollbar-width: none;      
    -ms-overflow-style: none;
}

body {
    font-family: 'Rosarivo', serif;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none; 
}

header {
    background: url(src/images/background-inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.start {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    text-align: center;
    justify-content: center;
}

.start #logo {
    max-height: 60vh;
    width: auto;
    max-width: 90vw;
}

.enter {
    position: absolute;
    bottom: 0;
    animation: pular 2.5s infinite;
}

.enter h3 {
    font-size: 3vh;
    color: var(--cor-itens)
}

.enter img {
    width: 50px;
}

main {
    background: url(src/images/background-principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90vw;
    height: 90vh;
    background-color: var(--cor-background-2);
    border-radius: 15px;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    #start-button {
        width: 12em;
        font-size: 2.5vh;
    }

    .start #logo {
        max-height: 50vh;
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    #start-button {
        width: 100%;
        max-width: 300px;
        font-size: 2.2vh;
        height: 6.5vh;
    }

    .start #logo {
        max-height: 40vh;
    }
}

@keyframes pular {
    0%, 100% {
        bottom: 15px;
    }

    50% {
        bottom: 5px;
    }
}