@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

:root {
    --cor-fundo: #1d3927;
    --cor-itens: #a58630;
    --cor-itens-secundaria: #80651d;
    --cor-background-2: #efd1a5;
    --cor-background: #7a5213;
    --cor-button: #a58630;
    --cor-button-hover: #80651d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: auto;
    scrollbar-width: none;      
    -ms-overflow-style: none;
}

body {
    font-family: 'Rosarivo', serif;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none; 
}

header {
    background: url(src/images/background-inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.start {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    text-align: center;
    justify-content: center;
}

.start #logo {
    max-height: 60vh;
    width: auto;
    max-width: 90vw;
}

.enter {
    position: absolute;
    bottom: 0;
    animation: pular 2.5s infinite;
}

.enter h3 {
    font-size: 3vh;
    color: var(--cor-itens)
}

.enter img {
    width: 50px;
}

main {
    background: url(src/images/background-principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    
}

.container {
    height: 35em;
    background-color: var(--cor-background-2);
    border-radius: 15px;
    margin: 10px
}

#cardapio {
    width: 45em;
}

#usuario {
    width: 17em;
}

.usuario-conteudo {
    height: 11vh;
    background: var(--cor-background);
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.usuario-conteudo > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.usuario-conteudo > h3 {
    color: #fff;
}

@media (max-width: 1035px) {
    main {
        gap: 5px;
        align-content: center;
    }

    .container {
        width: 80vw !important;
        height: 30em;
    }

    #pedido {
        height: 28em;
    }

    #usuario {
        height: 7em;
    }
}

@keyframes pular {
    0%, 100% {
        bottom: 5px;
    }

    50% {
        bottom: 10px;
    }
}